@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins:wght@400;500;800&family=Muli:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  block-size: 100vb;
  font-family: 'Muli', sans-serif;
  background-color: #e1e1e1;
  display: grid;
  place-items: center;
}

div {
  display: inline-flex;
  margin: 6px;
  min-inline-size: 160px;
  border: 1px solid black;
  box-shadow: 1px 1px 3px rgba(0, 0, 0 0.1);
  color: black;
  position: relative;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}

div span {
  position: absolute;
  inset-block-start: -24px;
  inset-inline-start: 0;
  inline-size: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  columns: #eee;
  text-align: center;
}