@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins:wght@400;500;800&family=Muli:wght@400;700&display=swap');

/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  block-size: 100vb;
  font-family: 'Muli', sans-serif;
  display: grid;
  place-items: center;
  background-color: #e1e1e1;
}
