section {
  inline-size: 50vi;
  text-align: center;
  background: ivory;
  padding: 3.05rem 1.8rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

  h3 {
    margin: 0;
    letter-spacing: 2px;
    opacity: 0.5;
  }

  p {
    margin-block: 3.05rem;
    letter-spacing: 2px;
    line-height: 1.2;
  }

  button {
    background: #9f68e0;
    color: ivory;
    padding: 0.6rem 1.2rem;
    border: 0;
    border-radius: 10px;
    cursor: pointer;

    &:active {
      transform: scale(0.98);
    }
  }
}
