*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-block-size: 100vb;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

main {
  padding-block: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

main>div {
  block-size: 180px;
  inline-size: 360px;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px lightgray;
  display: grid;
  place-items: center;
  font-size: xx-large;
}

.box {
  transform: translateX(-250%);
  transition: transform 0.3s ease;
}

.box:nth-of-type(even) {
  transform: translateX(250%);
}

.box.show {
  transform: translateX(0);
}