div {
  inline-size: 360px;
  block-size: 180px;
  border: 2px solid lightslategray;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px gray;
  display: grid;
  place-items: center;
  margin-block-end: 45px;
  font-size: xx-large;
  
  &.box {
    transform: translateX(-250%);
    transition: transform 0.3s ease;
  }

  &.box:nth-of-type(even) {
    transform: translateX(250%);
  }

  &.box.show {
    transform: translateX(0);
  }
}