@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vb;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.flex {
    width: 90vw;
    margin: auto;
    display: flex;
    gap: 1.5vw;
}

.item {
    height: 80vh;
    flex: 0.5;
    border-radius: 50px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: flex 0.7s ease-in;
}

.item:hover {
    cursor: pointer;
}

.item h2 {
    opacity: 0;
    position: absolute;
    left: 1.5vw;
    bottom: 0;
}

.item.clicked {
    flex: 5;
}

.item.clicked h2 {
    opacity: 1;
    color: ivory;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 576px) {

    .item:nth-last-of-type(1),
    .item:nth-last-of-type(2) {
        display: none;
    }
}