@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  min-height: 100vb;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  overflow: hidden;
}

div {
  background: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  block-size: 100vb;
  inline-size: 100vi;
  position: absolute;
  z-index: -1;
  filter: blur(0);
}

p {
  font-size: xx-large;
  color: aliceblue;
}