/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins:wght@400;500;800&family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-block-size: 100vb;
  display: grid;
  place-items: center;
  background: #686de0;
  font-family: "Roboto", sans-serif;
}
