<main [class.rotated]="rotated">
  <div class="circle">
    <button (click)="onOpen()"><i class="fas fa-bars"></i></button
    ><button (click)="onClose()"><i class="fas fa-times"></i></button>
  </div>

  <section>
    <h1>Explore the World</h1>
    <p>Dr. Barksalot</p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam nesciunt
      repellendus cumque explicabo, minus animi enim aut est minima beatae esse
      dolorum facere eius adipisci, eligendi excepturi quaerat exercitationem
      voluptatum. Consectetur, provident fugiat? Quisquam reiciendis eaque
      neque, qui tempore delectus perspiciatis maxime eius fuga incidunt
      asperiores dolore nesciunt non culpa laudantium, rem quasi provident
      obcaecati quod! Consectetur, aut nihil? Dolor ut eligendi sit reiciendis
      corrupti recusandae perferendis rem eaque aut a aperiam ducimus
      repellendus iure, totam aspernatur maxime laboriosam quam dolorem, sint
      nemo sed quibusdam voluptatem quasi amet! Cumque illo molestiae in quaerat
      distinctio quos nemo obcaecati nihil nobis excepturi!
    </p>
    <img
      src="https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
      alt="Bridge"
    />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rem non
      omnis voluptatibus quisquam inventore at optio veniam placeat autem
      adipisci, dicta, quaerat tempore amet sapiente voluptates. Natus dolorem,
      repellendus quam iusto asperiores iure quia ipsam facilis eaque, unde sunt
      deserunt nemo sapiente ipsum nisi officia! Neque fuga quas tenetur illo
      voluptatum praesentium consequatur a recusandae officiis, eius est in
      facilis, doloremque dolores repellendus autem dignissimos sapiente quasi
      quis nostrum animi ut sunt quam omnis.
    </p>
  </section>
</main>

<nav [class.rotated]="!rotated">
  <span><i class="fas fa-home"></i>Home</span>
  <span><i class="fas fa-user-alt"></i>About</span>
  <span><i class="fas fa-envelope"></i>Contact</span>
</nav>
